.authpage .row {
    width: 900px;
    min-height: 450px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.left-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    background-color: black;
}

.left-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-wrap: wrap;
    text-align: center;
    line-height: 30px;
    font-size: large;
    font-weight: 800;
}

@media(max-width:768px) {

   
   .authpage .row{
        height: 100vh;
        width: 100vw;
    }
     .left-image,.right-side{
        height: 50%;
    }
   
    .left-image {
        background-color: blueviolet;
        line-height: 20px;
        padding-top: 2px;
        height: 1fr;
        margin: 0;
        border-radius: 10px;
    }

    .left-image p {
        margin: 2px !important;
        font-weight: 800;
        line-height: 25px;
    }
}